body {
    background-color: #0a141d;
    font-family: 'Archivo Black', sans-serif;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
}

#imagenSection {
    display: flex;
    width: 100%;
    height: 430px;
}

#imagenSection img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

#imagenSection img:hover {
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

#cabecera {
    background-color: #e4a129;
    padding: 0.50%;
}

#contenedorPrincipal {
    background-color: white;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 1.5vw;
    border-radius: 1vw;
    padding: 2vw;
    box-shadow: 0 4px 8px rgba(222, 222, 222, 0.927), 0 6px 20px rgba(228, 226, 226, 0.89);
}

#icono {
    color: #ffffff;
}

#title {
    color: rgb(255, 255, 255);
    text-align: center;
}

#viewOpcions {
    cursor: pointer;
}

#seleccion {
    background-color: rgb(255, 255, 255);
    margin-top: 20vw;
    border-radius: 1vw;
    margin-right: 20vw;
    margin-left: 20vw;
}

.input-container {
    margin-top: -50%;
    display: flex;
    align-items: center;
    gap: 1vw;

}

#labelQueVer {
    color: rgb(64, 64, 65);
}

#queVeras {
    flex-grow: 1;
    padding: 0.5vw;
    font-size: 1.1vw;
    border-radius: 1vw;
    border: 1px solid #ccc;
}

#buscar {
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    color: black;
    background-color: #e4a129;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;

}

#buscar:hover {
    color: black;
    background-color: #cd8603;
    cursor: pointer;
}

.btnTrailer {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    background-color: #FF0000;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btnTrailer:hover {
    color: black;
    background-color: #e5c300;
}

#lista {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#lista li {
    flex-basis: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #contenedorPrincipal {
        width: 80%;
        margin: 0 auto;
        margin-top: 7.0vw;
    }

    #labelQueVer {
        font-size: 60%;
        margin-left: -20%;
    }

    .input-container {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #labelQueVer {
        white-space: nowrap;
    }

    #queVeras,
    #buscar {
        flex-grow: 1;
        min-width: 10;

    }

    #buscar {
        padding: 6px 25px;
        font-size: 11px;
    }

    .btnTrailer {
        padding: 8px 12px;
        font-size: 12px;
    }

    #lista li {
        flex-basis: calc(50% - 10px);
        margin-right: 10px;

    }

    #lista {
        font-size: 12px;
    }
}